body {
    margin: 0px;
    padding: 20px;
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }
}
#gantt_table {
    width: 100%;
    margin-bottom: 30px;
    &,
    & td,
    & tr,
    & th {
        border-collapse: collapse;
        border: 1px solid #000;
    }
    & tr:not(.table_input) td,
    & tr.table_input td:nth-child(1),
    & tr.table_input td:nth-child(6) {
        padding: 10px;
    }
    & td:not(:first-child) {
        text-align: center;
    }
    .table_heading {
        font-weight: bold;
        font-size: 20px;
    }
    & tr.table_input td {
        input {
            border: 0;
            outline: 0;
            height: 100%;
            width: 70%;
            padding: 10px;
            // margin-inline: 10px;
            font-size: 15px;
            &:not([type="date"]) {
                border-bottom: 1px dashed #000;
            }
        }
    }
    .btn_main {
        // border: 1px solid #000;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
    }
    .btn {
        // width: 130px;
        // margin: 10px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
            4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .add_btn,
    .edit_btn {
        border: none;
        background: rgb(251, 33, 117);
        background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
        color: #fff;
        overflow: hidden;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
        &:before {
            position: absolute;
            content: "";
            display: inline-block;
            top: -180px;
            left: 0;
            width: 30px;
            height: 100%;
            background-color: #fff;
            animation: shiny-btn1 3s ease-in-out infinite;
        }
        &:hover {
            opacity: 0.7;
        }
        &:active {
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
                inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
        }

        @keyframes shiny-btn1 {
            0% {
                transform: scale(0) rotate(45deg);
                opacity: 0;
            }
            80% {
                transform: scale(0) rotate(45deg);
                opacity: 0.5;
            }
            81% {
                transform: scale(4) rotate(45deg);
                opacity: 1;
            }
            100% {
                transform: scale(50) rotate(45deg);
                opacity: 0;
            }
        }
    }
    .edit_btn {
        background: rgb(80, 33, 251);
        background: linear-gradient(0deg, rgb(33, 37, 251) 0%, rgb(100, 76, 234) 100%);
    }
}
