.addmodal {
    position: fixed;
    inset: 0;
    background: #00000033;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal_main {
        background: #fff;
        width: 400px;
        padding: 30px;
        border-radius: 10px;
        .modal_header {
            font-size: 30px;
            text-align: center;
            font-weight: 700;
            margin-bottom: 20px;
        }
        label {
            font-size: 15px !important;
            display: block;
            margin-bottom: 20px;
            > input {
                text-align: left;
                height: 45px;
                padding: 10px 5px;
                margin-top: 5px;
                width: 100%;
                border-radius: 5px;
                // border: 0;
                border: 1px solid #9d9d9d;
                &:focus-visible {
                    outline: 0;
                }
                &:hover {
                    border: 1px solid #000;
                }
            }
            > form {
                margin-top: 5px;
                input {
                    padding: 10px 5px;
                    width: 100%;
                    border-radius: 5px;
                    // border: 0;
                    border: 1px solid #00000033;

                    &:focus-visible {
                        outline: 0;
                    }
                }
            }
            .MuiFormControl-root {
            }
        }
    }
    .actions_btn {
        display: flex;
        .btn {
            padding-inline: 5px;
            width: fit-content;
        }
        // justify-content: s;
        .close_btn {
            padding: 10px;
            height: 50px;
            font-weight: 700;
            // width: 50px;
            &:first-child {
                border: 0;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #000;
                    bottom: 10px;
                    left: 0;
                }
                &:hover {
                    box-shadow: unset;
                }
            }
            &.disabled {
                border: 2px solid #a8a8a8;
                color: #a8a8a8;
                cursor: no-drop;
                &:before {
                    animation: unset;
                }
                &:hover {
                    filter: unset;
                }
            }
        }
    }
}
