.side_menu {
    // position: fixed;
    bottom: 40px;
    right: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 20px;
    > * {
        margin-left: 15px;
    }
    .arrow {
        display: none;
        // height: 37px;
        // width: 37px;
        margin: auto;
        border: 10px solid transparent;
        border-left: 10px solid #000000;
        border-top: 10px solid #000000;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 300ms all;
        // animation: shiver 600ms linear infinite;
        opacity: 0.7;
        transform: rotate(-45deg) translateX(0px);
        // @keyframes shiver {
        //     0%,
        //     100%,
        //     40%,
        //     70% {
        //         transform: rotate(-45deg);
        //     }
        //     41%,
        //     69% {
        //         transform: rotate(-49deg);
        //     }
        //     50% {
        //         transform: rotate(-41deg);
        //     }
        // }
        &:hover {
            opacity: 1;
        }
    }
    &.active {
        .arrow {
            border: 10px solid transparent;
            border-right: 10px solid #000000;
            border-bottom: 10px solid #000000;
            animation: unset;
            transform: rotate(-45deg) translate(-230px, -230px);
        }
    }
    > .btn {
        // position: absolute;
        height: 60px;
        width: 60px;
        padding: 10px;
        border-radius: 15px;
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        bottom: -10px;
        &.btn_right_menu {
            &.menu1,
            &.menu2 {
                right: 35px;
                display: flex;
                flex-direction: column;
                transform: translateX(95px);
                img {
                    height: 70%;
                }
            }
            &.menu2 {
                right: 110px;
                transform: translateX(170px);
            }
        }
        &.btn_bottom_menu {
            &.menu1,
            &.menu2 {
                right: 185px;
                display: flex;
                flex-direction: column;
                img {
                    height: 70%;
                }
            }
            &.menu1 {
                transform: translateX(245px);
            }
            &.menu2 {
                right: 260px;
                transform: translateX(320px);
                img {
                    height: 100%;
                    padding-left: 8px;
                    padding-top: 5px;
                }
            }
        }
        &[data-disable="yes"] {
            // border: 1px solid red;
            opacity: 0.5;
            pointer-events: none;
        }
    }
    &.active {
        // .download_txt,
        // .download_json
        .btn {
            transform: translateX(15px) !important;
        }
        // .download_chart,
        // .clear_all {
        //     transform: translateX(0px) !important;
        // }
    }
}
.txt_upload {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.toast_collector {
    position: fixed;
    bottom: 100px;
    max-height: 235px;
    overflow: hidden;
    right: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    .toast {
        background: rgb(0, 0, 0);
        border-radius: 5px;
        color: #ffffff;
        font-size: 20px;
        padding: 5px 10px;
        transform: translateX(100%);
        opacity: 0;
        animation: cometofrontabdgo 3000ms ease-in-out;
        margin-bottom: 10px;
        @keyframes cometofrontabdgo {
            0%,
            100% {
                transform: translateX(100%);
                opacity: 0;
            }
            30%,
            70% {
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }
}
